{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "singleAttributePerLine": true,
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "arrowParens": "always"
}
